<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Snychronization</title>
        <link rel="stylesheet" href="{{ asset('integration/css/index.css') }}">
        <style>
            {{ styles }}
        </style>
    </head>
    <body id="integration">
        <pre class="ansi_color_bg_black ansi_color_fg_white ansi_box">
            {{ html|raw }}
        </pre>
    </body>
</html>