#integration {
    background: rgba(15, 15, 24, 1);
    display: grid;
    flex-wrap: wrap;
    margin: 0;
}

#integration span {
    padding-bottom: 10px;
}

.ansi_box {
    overflow: auto;
    padding: 10px 15px;
    font-family: monospace;
}

pre {
    margin: 0;
}